/* Hide main tabs toolbar */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

/* Sidebar min and max width removal */
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}
/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  visibility: collapse;
}

/* Shrink sidebar until hovered, when using Tree Style Tab. */
:root {
  --thin-tab-width: 30px;
  --wide-tab-width: 200px;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
  min-width: var(--wide-tab-width) !important;
  max-width: none !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  position: relative !important;
  transition: all 50ms !important;
  min-width: var(--thin-tab-width) !important;
  max-width: var(--thin-tab-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
  transition: all 50ms !important;
  min-width: var(--wide-tab-width) !important;
  max-width: var(--wide-tab-width) !important;
}


/* PUT THIS IN TreeStyleTab Add's "Extra CSS" setting */

// /* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */
// #tabbar { border: 0; overflow-y: scroll !important; margin-left: -18px !important; scrollbar-width: auto; }
//
// /* Hide .twisty and adjust margins so favicons have 7px on left. */
// .tab .twisty {
//   visibility: hidden;
//   margin-left: -12px;
// }
//
// /* Push tab labels slightly to the right so they're completely hidden in collapsed state */
// .tab .label {
//   margin-left: 7px;
// }
//
// /* Hide close buttons on tabs. */
// .tab .closebox {
//   visibility: collapse;
// }
//
// .tab:hover .closebox {
//   visibility: initial;
// }
//
// /* Hide sound playing/muted button. */
// .sound-button::before {
//   display: none !important;
// }
//
// /* ################################################ */
// /* ##### COLOR THEME ############################## */
// /* ################################################ */
//
// :root {
//   background-color: #383838;
// }
// #tabbar {
//   border-right: 1px solid #1d1d1d;
//   box-shadow: none !important;
// }
// .tab {
//   box-shadow: none !important;
// }
// .tab:hover {
//   filter: opacity(80%) drop-shadow(0px 0px 0px #3498DB);
// }
//
// /* Adjust style for tab that has sound playing. */
// .tab.sound-playing .favicon::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   border-radius: 50%;
//   background: #FFFFFF;
//   animation: pulse 2s ease-out 0s infinite;
//   z-index: -1;
//   opacity: 0;
// }
//
// /* Adjust style for tab that is muted. */
// .tab.muted {
//   opacity: 0.5;
// }
//
// /* Better alignment of Favicons when collapsed */
// .tab[data-level][data-level="0"] {
//   margin-left: 2% !important;
// }
// .tab[data-level][data-level="1"] {
//   margin-left: 4% !important;
// }
// .tab[data-level][data-level="2"] {
//   margin-left: 6% !important;
// }
// .tab[data-level][data-level="3"] {
//   margin-left: 8% !important;
// }
// .tab[data-level][data-level="4"] {
//   margin-left: 10% !important;
// }
// .tab[data-level][data-level="5"] {
//   margin-left: 12% !important;
// }
// .tab[data-level][data-level="6"] {
//   margin-left: 14% !important;
// }
// .tab[data-level][data-level="6"] {
//   margin-left: 16% !important;
// }
//
